<div class="container-div badge-toolbar">
  <div id="toolbar">
      <div>
          <span class='e-icons e-menu'></span>
          <div class="header">Notification</div>
          <div>
              <div class="badge-block">
                  <div class="message icons"></div>
                  <span class="e-badge e-badge-primary e-badge-notification e-badge-overlap">35</span>
              </div>
          </div>
          <div>
              <div class="badge-block">
                  <div class="user-profile icons"></div>
                  <span class="e-badge e-badge-success e-badge-notification e-badge-overlap">28</span>
              </div>
          </div>
          <div>
              <div class="badge-block">
                  <div class="love icons"></div>
                  <span class="e-badge e-badge-info e-badge-notification e-badge-overlap">98</span>
              </div>
          </div>
      </div>
  </div>
</div>